/* texts deiggning */
.texts{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    font-size: 20px;
    margin-top: 5rem;
}

.texts {
    max-width: 900px;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 20px;
}

.about {
    font-size: 20px;
    line-height: 1.7;
    color: #a1a1aa;
    text-align: center;
    letter-spacing: 0.2px;
}


/* "footer" designing */
.about-footer h3,
.about-footer p{
    margin: 0;
    padding: 0;
}

.about-footer {
    margin: 8rem 0 4rem;
    text-align: center;
}

.about-footer h3 {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #166534;
}

.about-footer p {
    font-size: 18px;
    opacity: 0.7;
    margin-top: 12px;
}