.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 10px;
}

@media (max-width: 768px){
    .services{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}